<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Anticariat{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		{% include "stylesheets.html.twig" %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		<div id="header">{% include "header.html.twig" %}</div>
        <div id="body">{% block body %}{% endblock %}</div>
		<div id="footer">{% include "footer.html.twig" %}</div>
        {% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		{% endblock %}
    </body>
</html>